@model PAN_ParentsBank_Final.Models.Account

@{
    ViewBag.Title = "Details";
}
<script>

    document.getElementById("div1").onload = function () { move2() };
    function move2()
    {
        alert("Random");
    }

    function move() {
        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");
        var width = 0;
        var width2 = 0;

        var sum = @Model.getAccountBalance() + @Model.YearToDateInterestEarned();
        var perc1 = (@Model.getAccountBalance()/ sum) * 100 -1 ;
         var perc2 = (@Model.YearToDateInterestEarned()/sum)*100;

  var max =@Model.getAccountBalance();
        var id = setInterval(frame, 0);
        var id2 = setInterval(frame, 0);
        function frame() {
            if (width >= perc1) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1 + '%';
            }
            if (width2 >= perc2) {
                clearInterval(id2);
            } else {
                width2++;
                elem2.style.width = width2 + '%';
                elem2.innerHTML = width2 * 1 + '%';
            }

        }

    }
</script>

<style>
    .panel {
        border: 1px solid #16A085;
        border-radius: 0;
        transition: box-shadow 0.5s;
    }

        .panel:hover {
            box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        }


    .panel-heading {
        color: white;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }


    #myBar {
        width: 0%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    #myBar2 {
        width: 0%;
        height: 30px;
        background-color: orange;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    .btn-primary.raised {
        box-shadow: 0 3px 0 0 #007299;
    }

        .btn-primary.raised:active, .btn-primary.raised.active {
            background: #33a6cc;
            box-shadow: none;
            margin-bottom: -3px;
            margin-top: 3px;
        }

    /* basic positioning */
    .legend {
        list-style: none;
    }

        .legend li {
            float: right;
            margin-right: 200px;
        }

        .legend span {
            border: 1px solid #ccc;
            float: left;
            width: 50px;
            height: 12px;
            margin: 2px;
        }
        /* your colors */
        .legend .prici {
            background-color: #4CAF50;
        }

        .legend .inter {
            background-color: orange;
        }
</style>


<div>
    <div class="well well-sm text-center"><h3>ACCOUNT, TRANSACTION, WISHLIST DETAILS FOR </h3> <h2>@Model.Name.ToUpper()</h2>
    </div>
    

    <div class="container">
        <div class="text-left">
            <h3 style="font-weight:bolder;text-decoration:underline">ACCOUNT SUMMARY</h3>
            
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="background-color:#3D9970">
                        <h2 style="color:#ffffff">Principal Amount</h2>
                    </div>
                    <div class="panel-body">
                        <h3>$ @Model.getAccountBalance()</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="background-color:#3D9970">
                        <h2 style="color:#ffffff">Interest Earned</h2>
                    </div>
                    <div class="panel-body">
                        <h3>$ @Model.YearToDateInterestEarned()</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="background-color:#3D9970">
                        <h2 style="color:#ffffff">Total Amount</h2>
                    </div>
                    <div class="panel-body">
                        <h3>$ @Model.getTotal()</h3>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @if (Model.IsOwner(User.Identity.Name))
            {
            <p style="font-size:x-large">
                <button type="button" class="btn btn-default btn-warning" onclick="location.href='@Url.Action("Edit", "Accounts")';return false;"><strong>EDIT ACCOUNT DETAILS</strong></button>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
                <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("Index", "Accounts")';return false;">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> <strong>BACK TO ACCOUNT LIST</strong>
                </button>
            </p>
        }

        <br />
        <div>
            <br />
            <button class="btn btn-primary btn-lg raised" onclick="move()"><strong>CHECK PROGRESS BAR</strong></button>
        
            <ul class="legend">
                <li><span class="prici"></span> % of Principal</li>
                <li><span class="inter"></span> % of Interest</li>
            </ul>
        </div>
            <br />
            <br />

            <div class="progress" style="height:40px">
                <div class="progress-bar progress-bar-success active" id="myBar" role="progressbar">

                </div>
                <div class="progress-bar progress-bar-warning active" id="myBar2" role="progressbar">

                </div>
            </div>

</div>

<br />
    
</div>

<div class="container">
    <span class="text-left">
        <h3 style="font-weight:bolder;text-decoration:underline">USER ACTIONS</h3>
        <br />
    </span>
    @if (Model.IsOwner(User.Identity.Name))
    {
        <div class="container-flow">
            <div class="row">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("create", "Transactions")';return false;">ADD TRANSACTION</button>
                </div>

                @*<h3>@Html.ActionLink("Add Transaction", "create", new { controller = "Transactions", accountId = Model.Id })</h3>*@

                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("create", "WishListItems")';return false;">ADD WISHLIST ITEM</button>
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("search", "WishListItems")';return false;">
                        <span class="glyphicon glyphicon-search"></span> SEARCH WISHLIST</button>
                </div>
                @*<h3>@Html.ActionLink("Add Wishlist Item", "create", new { controller = "WishListItems", accountId = Model.Id })</h3>*@

            </div>
        </div>
    }

    @if (!Model.IsOwner(User.Identity.Name))
    {
        <button type="button" class="btn btn-primary disabled" onclick="location.href='@Url.Action("create", "Transactions")';return false;">ADD TRANSACTION</button>

        <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("create", "WishListItems")';return false;">ADD WISHLIST ITEM</button>

        <button type="button" class="btn btn-primary active" onclick="location.href='@Url.Action("search", "WishListItems")';return false;">
            <span class="glyphicon glyphicon-search"></span> SEARCH WISHLIST
        </button>

    }

</div>

<br />

<div class="container">
    <br />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#trans"><h4><strong>TRANSACTION HISTORY</strong></h4></a></li>
        <li><a data-toggle="tab" href="#wish"><h4><strong>WISHLIST ITEMS</strong></h4></a></li>
    </ul>
    <div class="tab-content">
        <div id="trans" class="tab-pane fade in active">
            <table class="table table-bordered">
                <tr>
                    <th>
                        TRANSACTION DATE
                    </th>
                    <th>
                        TRANSACTION NOTE
                    </th>
                    <th>
                        TRANSACTION TYPE
                    </th>
                    <th>
                        TRANSACTION AMOUNT
                    </th>
                    <th> CRUD FUNCTIONALITY</th>
                </tr>

                @foreach (var item in Model.Transactions.OrderByDescending(i => i.TransactionDate))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfTransaction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>

                        <td>
                            @if (Model.IsOwner(User.Identity.Name))
                            {
                                @Html.ActionLink("EDIT TRANSACTION", "Edit", "Transactions", new { id = item.Id }, null)
                            } |
                            @Html.ActionLink("TRANSACTION DETAILS", "Details", "Transactions", new { id = item.Id }, null) |
                            @if (Model.IsOwner(User.Identity.Name))
                            {
                                @Html.ActionLink("DELETE", "Delete", "Transactions", new { id = item.Id }, null)
                            }
                        </td>
                    </tr>

                }

            </table>
        </div>

        <div id="wish" class="tab-pane fade">
            <table class="table table-bordered">
                <tr>
                    
                    <th style="font-size:12px">
                        DATE ADDED ON
                    </th>
                    <th style="font-size:13px">
                        ITEM COST
                    </th>
                    <th>
                        ITEM DESCRIPTION
                    </th>
                    <th>
                        PURCHASED
                    </th>
                    <th>
                        ITEM AFFORDABILITY
                    </th>
                    
                    <th>FUNDS STATUS</th>
                    <th>CRUD FUNCTIONALITY</th>
                </tr>
                @foreach (var item in Model.WishListItems)
                {
                    if (Model.getAccountBalance() < item.Cost)
                    {
                        <tr class="alert-danger">
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Purchased)
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-thumbs-down" style="font-size:25pt"></span>
                            </td>
                            <td>
                                FUNDS REQUIRED: 
                                @{ var price = item.Cost- Model.getAccountBalance();}
                                <h4><strong>@price</strong></h4>
                            </td>
                            <td>
                                @Html.ActionLink("EDIT ITEM", "Edit", "WishlistItems", new { id = item.Id }, null) |
                                @Html.ActionLink("ITEM DETAILS", "Details", "WishlistItems", new { id = item.Id }, null) |
                                @if (Model.IsOwner(User.Identity.Name))
                                {
                                    @Html.ActionLink("DELETE ITEM", "Delete", "WishlistItems", new { id = item.Id }, null)
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="alert-success">
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Purchased)
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-thumbs-up" style="font-size:25pt"></span>
                            </td>
                            <td>
                                REMAINING BALANCE:
                                @{ var price =Model.getAccountBalance()- item.Cost  ;}
                                <h4><strong>@price</strong></h4>
                            </td>

                            <td>
                                @Html.ActionLink("EDIT ITEM", "Edit", "WishlistItems", new { id = item.Id }, null) |
                                @Html.ActionLink("ITEM DETAILS", "Details", "WishlistItems", new { id = item.Id }, null) |
                                
                                
                                    @Html.ActionLink("DELETE ITEM", "Delete", "WishlistItems", new { id = item.Id }, null)
                                
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>    
</div>





   

